.blog-category {
	grid-column: center-start / center-end;
	display: grid;
	grid-template-rows: auto;
	grid-row-gap: 2rem;
}

@media only screen and (max-width: 768px) {
	.blog-category {
		grid-column: full-start / full-end;
		margin: 0;
	}
}

@media only screen and (max-width: 768px) {
	.blog-category__wrapper {
		grid-column: full-start / full-end;
		margin: 0 2rem;
	}
}

.blog-category__banner-img {
	max-height: 50rem;
	object-fit: cover;
}

@media only screen and (max-width: 768px) {
	.blog-category__banner-img {
		grid-column: full-start / full-end;
	}
}

@media only screen and (max-width: 576px) {
	.blog-category__banner-img {
		height: 24rem;
	}
}

.blog-category__banner {
	display: grid;
	grid-template-rows: repeat(3, 6rem);
	margin-top: 2rem;
	border-radius: 1rem;
	background-color: var(--primaryColor);
}

@media only screen and (max-width: 576px) {
	.blog-category__banner {
		grid-template-rows: repeat(3, 4rem);
	}
}

.blog-category__title {
	grid-row: 2;
	justify-self: center;
	align-self: center;
	font-size: 5rem;
	color: var(--mainWhite);
	margin: 0;
}

@media only screen and (max-width: 576px) {
	.blog-category__title {
		font-size: 3rem;
	}
}