:root {
    --base: #08090a;
    --base-inverted: #fff;
    --header-height: 56px
}

.header__container {
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    height: var(--header-height);
}

#nprogress .bar {
    height: 4px !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}