.forgot-password {
	grid-column: center-start / center-end;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 768px) {
	.forgot-password {
		grid-column: full-start / full-end;
		padding: 0 2rem;
	}
}

@media only screen and (max-width: 575px) {
	.forgot-password__wrapper {
		width: 100vw;
	}
}

.forgot-password__title {
	margin-bottom: 3rem;
	font-size: 4rem;
	color: var(--primaryColor);
	text-align: center;
}

@media only screen and (max-width: 576px) {
	.forgot-password__title {
		font-size: 3.2rem;
	}
}

.forgot-password__text {
	text-align: center;
	font-size: 1.6rem;
	margin-bottom: 3rem;
}

.forgot-password__btn {
	margin-bottom: 2rem;
	font-size: 1.9rem;
	border: none;
	border-radius: 0.8rem;
	width: 100%;
	padding: 1rem 2.2rem;
	transition: var(--mainTransition);
	background-color: var(--primaryColor);
	color: var(--mainWhite);
}

@media only screen and (max-width: 576px) {
	.forgot-password__btn {
		font-size: 1.5rem;
	}
}

.forgot-password__btn:hover {
	background-color: var(--secondaryColor);
	cursor: pointer;
}

.forgot-password__messages {
	text-align: center;
	font-size: 1.7rem;
	max-width: 40rem;
	margin: auto;
	display: block;
}

.forgot-password__success {
	color: var(--primaryColor);
}

.forgot-password__error {
	color: #db2525;
}