.hero-container {
	grid-column: center-start / center-end;
}

@media only screen and (max-width: 550px) {
	.hero-container {
		grid-column: full-start / full-end;
	}
}

.hero__title {
	line-height: 8.5rem;
	font-size: 8.5rem;
	font-weight: 500;
	text-align: center;
	padding: 10rem 0;
}

@media only screen and (max-width: 550px) {
	.hero__title {
		font-size: 4.5rem;
		line-height: 5.5rem;
		padding-top: 7rem;
		padding-bottom: 0;
	}
}

.home-categories {
	grid-column: center-start / center-end;
}

@media only screen and (max-width: 768px) {
	.home-categories {
		grid-column: full-start / full-end;
		margin: 6rem 2rem;
	}
}

.home-categories__wrapper {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.6rem;
}

@media screen and (max-width: 1050px) {
	.home-categories__wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 576px) {
	.home-categories__wrapper {
		margin-top: 0rem;
		grid-column-gap: 1rem;
	}
}

.home-categories-card {
	display: grid;
	grid-template-rows: auto 16rem;
	transition: var(--mainTransition);
}

@media screen and (max-width: 750px) {
	.home-categories-card {
		border: none;
	}
}

@media screen and (max-width: 576px) {
	.home-categories-card {
		grid-template-rows: auto 15rem;
	}
}

@media screen and (max-width: 395px) {
	.home-categories-card {
		grid-template-rows: auto 17.5rem;
	}
}

@media screen and (max-width: 320px) {
	.home-categories-card {
		grid-template-rows: auto 20rem;
	}
}

.home-categories-card:hover {
	border-bottom-left-radius: .8rem;
	border-bottom-right-radius: .8rem;
	-webkit-box-shadow: 3px 3px 25px -14px rgba(0, 0, 0, 0.71);
	-moz-box-shadow: 3px 3px 25px -14px rgba(0, 0, 0, 0.71);
	box-shadow: 3px 3px 25px -14px rgba(0, 0, 0, 0.71);
}

.home-categories-card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.home-categories-card__content {
	display: grid;
	grid-template-rows: 4rem 10rem;
	padding: 2rem 1.3rem;
	border: 0.1rem solid var(--mainGrey);
	border-bottom-left-radius: .8rem;
	border-bottom-right-radius: .8rem;
}

@media screen and (max-width: 576px) {
	.home-categories-card__content {
		grid-template-rows: 3.5rem;
		padding: 1rem;
	}
}

.home-categories-card__title {
	font-size: 2.2rem;
	font-family: "Nunito";
	font-weight: bold;
	margin: 0;
	letter-spacing: 1px;
	color: var(--primaryColor);
}

@media screen and (max-width: 1330px) {
	.home-categories-card__title {
		font-size: 2rem;
	}
}

@media screen and (max-width: 1050px) {
	.home-categories-card__title {
		font-size: 2.1rem;
	}
}

@media screen and (max-width: 350px) {
	.home-categories-card__title {
		font-size: 1.9rem;
	}
}

.home-categories-card__text {
	font-size: 1.6rem;
	color: #484848;
}

@media screen and (max-width: 576px) {
	.home-categories-card__text {
		font-size: 1.3rem;
	}
}